<div class="flex justify-evenly mt-8 ">

  <div class="flex flex-col text-center ">
   <a routerLink="/age">
    <i class="bi bi-chevron-double-left text-3xl"></i>
    <p class="text-sm tracking-widest">Back</p>
   </a>
  </div>

  <div class="flex flex-col text-center text-[#009bd2] ">
    <i class="bi bi-house-door text-3xl"></i>
    <p class="text-sm tracking-widest">Home</p>
  </div>

  <div class="flex flex-col text-center">
    <i class="bi bi-heart text-3xl"></i>
    <p class="text-sm tracking-widest">Heath</p>
  </div>

  <div class="flex flex-col text-center" routerLink="/employment">
    <i class="bi bi-briefcase text-3xl"></i>
    <p class="text-sm tracking-widest">Employment</p>
  </div>

 <a (click)="changeHeader('More')">
  <div class="flex flex-col text-center" >
    <i class="bi bi-three-dots text-3xl"></i>
    <p class="text-sm tracking-widest">More</p>
  </div>
 </a>

</div>
