
<div>

  <div class="w-full h-screen">

      <app-logo></app-logo>

      <div class="flex flex-col justify-center gap-3 items-center">
        <div class="bg-red-500 w-4/5 p-20  rounded-2xl text-center text-white tracking-widest  health_img">
          <!-- <h1 class="text-2xl bg-transparent">Health</h1>
          <small class="tracking-wider pb-32 ">Read More<i class="bi bi-chevron-right "></i> </small> -->
        </div>

        <div class="bg-red-500 w-4/5 p-20 rounded-2xl text-center text-white tracking-widest education_img ">
          <!-- <h1 class="text-2xl bg-transparent">Education</h1>
          <small class="text-white tracking-wider pb-32">Read More<i class="bi bi-chevron-right "></i> </small> -->
        </div>

        <div class="bg-red-500 w-4/5 p-20  rounded-2xl text-center text-white hover:pointer tracking-widest employment_img" routerLink="/employment">
          <!-- <h1 class="text-2xl bg-transparent">Employment</h1>
          <small class="text-white tracking-wider pb-32">Read More<i class="bi bi-chevron-right "></i> </small> -->
        </div>

        <div class="bg-red-500 w-4/5 p-20  rounded-2xl text-center text-white tracking-widest public_img">
          <!-- <h1 class="text-2xl bg-transparent">Public Assistance</h1>
          <small class="text-white tracking-wider pb-32">Read More<i class="bi bi-chevron-right "></i> </small> -->
        </div>
      </div>

     <div class="mb-9 border-t-4 mt-10">
      <app-footer></app-footer>
     </div>


    </div>

  </div>

